@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header, main {
	margin: 0;
	padding: 0;
	border: 0;
}

.balla {
    stroke: white;
    stroke-width: 2;
}

.tube {
	fill: #e6e6e6;;
}

/* invisible in front of balls but clickable */
.tubeBoundingBox {
	stroke-opacity: 0;
	fill-opacity: 0;
}

.ball1 {
	fill: yellow;
}
.ball2 {
	fill: green;
}
.ball3 {
	fill: #2020ff;
}
.ball4 {
	fill: red;
}
.ball5 {
	fill: gray;
}
.ball6 {
	fill: orange;
}
.ball7 {
	fill: violet;
}
.ball8 {
	fill: lime;
}
.ball9 {
	fill: maroon;
}
.ball10 {
	fill: navy;
}

.ball11 {
	fill: cyan;
}

.ball12 {
	fill: black;
}

.ball13 {
	fill: olive;
}