@charset "UTF-8";

.ballGroup {
    /* fill: #888888; */
    stroke: white;
    stroke-width: 2;
}

.balla {
	vertical-align: middle;
}

.tubeTab {
	padding: 0px;
	margin: 1px;
	border: 0px solid black;
	border-collapse: collapse;
}

.tubeTab tr:first-child td {
	background-color: transparent;
}

.tubeTab tr:not(:first-child) td {
	background-color: rgb(230, 230, 230);
}

.tubeTab tr:last-child td {
	border-radius: 0px 0px 20px 20px;
}

.ball0 {
	stroke-opacity: 0;
	fill-opacity: 0;
}
.ball1 {
	fill: yellow;
}
.ball2 {
	fill: green;
}
.ball3 {
	fill: #2020ff;
}
.ball4 {
	fill: red;
}
.ball5 {
	fill: gray;
}
.ball6 {
	fill: orange;
}
.ball7 {
	fill: violet;
}
.ball8 {
	fill: lime;
}
.ball9 {
	fill: maroon;
}
.ball10 {
	fill: navy;
}

.ball11 {
	fill: cyan;
}

.ball12 {
	fill: black;
}

.ball13 {
	fill: olive;
}